<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<gui name="kling" version="1">
  <ToolBar noMerge="1" name="mainToolBar" >
    <text>Main Toolbar</text>
    <Action name="newScript" />
    <Action name="importScript" />
    <Action name="saveText" />
    <Separator/>
    <Action name="play" />
    <Action name="pause" />
    <Action name="stop" />
    <Separator/>
    <Action name="showLog" />
    <Action name="find" />
  </ToolBar>
  <MenuBar>
    <Menu name="file" >
      <Action name="newScript" />
    </Menu>
    <Menu name="edit" >
      <Action name="find" />
    </Menu>
    <Menu name="view" >
      <Action name="viewScriptBrowser" />
      <Action name="viewScheduledTask" />
      <Action name="viewCommandList" />
      <Action name="viewHistory" />
      <Action name="viewManPage" />
      <Action name="viewDebug" />
    </Menu>
    <Menu name="tools" >
      <Action name="showLog" />
      <Action name="newCron" />
      <Action name="newScript" />
      <Separator/>
      <Action name="rescanMan" />
    </Menu>
    <Menu name="settings" >
      <Action name="configure" />
    </Menu>
  </MenuBar>
</gui>